{% extends "base.html" %} {% block nav_items %} {% load i18n %}
<a href="{% url 'home' %}" class="hover:underline">{% trans "Home" %}</a>
<a href="{% url 'analytics' %}" class="border-b-2">{% trans "Analytics" %}</a>
<a href="{% url 'about' %}" class="hover:underline">{% trans "About" %}</a>
<a href="{% url 'contact' %}" class="hover:underline">{% trans "Contact" %}</a>
{% endblock %} {% block content %} {% load i18n %}
<section class="bg-gray-800 text-white py-8">
  <div class="container mx-auto text-center">
    <h1 class="text-4xl font-bold mb-4">{% trans "analytics-hero-title" %}</h1>
    <p class="text-lg mb-8">{% trans "analytics-hero-content" %}</p>
  </div>
</section>

<section class="container mx-auto">
  <div class="text-center mt-20 mb-20">
    <h2 class="text-5xl font-bold mb-2">{% trans "Custom Analysis" %}</h2>
    <p class="text-lg text-gray-500 mb-4">
      {% trans "custom-analysis-content" %}
    </p>
    <a
      href="{% url 'analytics_custom' %}"
      class="bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600 mt-4"
      >{% trans "Create Custom Analysis" %}</a
    >
  </div>
  <div class="grid grid-cols-2 gap-10 mb-20">
    <div class="text-center">
      <h2 class="text-5xl font-bold mb-2">{% trans "2019 Analysis" %}</h2>
      <p class="text-lg text-gray-500 mb-4">
        {% trans "2019-analysis-content" %}
      </p>
      <a
        href="{% url 'analytics_2019' %}"
        class="bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600 mt-4"
        >{% trans "View Analysis" %}</a
      >
    </div>
    <div class="text-center">
      <h2 class="text-5xl font-bold mb-2">{% trans "2020 Analysis" %}</h2>
      <p class="text-lg text-gray-500 mb-4">
        {% trans "2020-analysis-content" %}
      </p>
      <a
        href="{% url 'analytics_2020' %}"
        class="bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600 mt-4"
        >{% trans "View Analysis" %}</a
      >
    </div>
    <div class="text-center">
      <h2 class="text-5xl font-bold mb-2">{% trans "2021 Analysis" %}</h2>
      <p class="text-lg text-gray-500 mb-4">
        {% trans "2021-analysis-content" %}
      </p>
      <a
        href="{% url 'analytics_2021' %}"
        class="bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600 mt-4"
        >{% trans "View Analysis" %}</a
      >
    </div>
    <div class="text-center">
      <h2 class="text-5xl font-bold mb-2">{% trans "2022 Analysis" %}</h2>
      <p class="text-lg text-gray-500 mb-4">
        {% trans "2022-analysis-content" %}
      </p>
      <a
        href="{% url 'analytics_2022' %}"
        class="bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600 mt-4"
        >{% trans "View Analysis" %}</a
      >
    </div>
  </div>
</section>
{% endblock %}
