{% extends "base.html" %} {% block nav_items %} {% load i18n %}
<a href="{% url 'home' %}" class="hover:underline">{% trans "Home" %}</a>
<a href="{% url 'analytics' %}" class="border-b-2">{% trans "Analytics" %}</a>
<a href="{% url 'about' %}" class="hover:underline">{% trans "About" %}</a>
<a href="{% url 'contact' %}" class="hover:underline">{% trans "Contact" %}</a>
{% endblock %} {% block content %} {% load i18n %}{% load static %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="flex mt-10 ml-4">
  <a
    href="{% url 'analytics' %}"
    class="bg-blue-500 text-white px-6 py-3 rounded-full fixed hover:bg-blue-600 z-10"
  >
    &#8592; {% trans "Back to Analytics" %}
  </a>
</div>

<h1 class="text-5xl font-bold mb-4 text-center">{% trans "2021 Analysis" %}</h1>

<h2 class="text-3xl font-bold mb-4 text-center">
  {% trans "Additional Real Estate Analysis" %}
</h2>

<div class="flex flex-wrap justify-center">
  <div class="w-4/5 max-w-xl mx-2 mb-20">
    <div class="relative pb-3/4">
      {% include "pages/analytics/2021/plots/7.html"%}
    </div>
    <p class="text-gray-500 text-center mt-2">
      {% trans "yearly-seventh-caption" %}
    </p>
  </div>

  <div class="w-4/5 max-w-xl mx-2 mb-20">
    <div class="relative pb-3/4">
      {% include "pages/analytics/2021/plots/8.html"%}
    </div>
    <p class="text-gray-500 text-center mt-2">
      {% trans "yearly-eighth-caption" %}
    </p>
  </div>

  <div class="w-4/5 max-w-xl mx-2 mb-20">
    <div class="relative pb-3/4">
      {% include "pages/analytics/2021/plots/9.html"%}
    </div>
    <p class="text-gray-500 text-center mt-2">
      {% trans "yearly-ninth-caption" %}
    </p>
  </div>
</div>

{% endblock %}
